.parent-div {
  width:100%;
}

.left-div {
  float:left;
    text-align: left;
  width:50%;
}

.right-div {
  float:right;
  text-align: left;
  width:50%;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

#upvote-button{
  margin-right: 10%;
}
.enter-tweet{
  width: 45%;
}
.page-header {
  margin-top: 0;
margin-bottom: 44px;
}
